*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.86);
  display: flex; 
  justify-content:space-between;
  padding: 30px;
  text-transform: capitalize;
  position: sticky;
    top: 0;
    z-index: 1;
}

aside{
  display: inline-flex;
  color: pink;
  font-size: 30px;
  font-weight: 60px;
  align-items: center;
  

}
aside a{
color: white;
text-decoration: none;
}
aside span :hover{
  color: pink;
}
aside img{
  width: 80px;
  height: 80px;
  
}

.barra ul{
  list-style: none;
}
.barra ul li {
  display: inline-block;
}
.barra a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.barra a:hover{
  color: pink;
}

main{
  height: 600px;
  width: 100%;
  background-color: rgb(69, 69, 69);
  background-image:url(img/bull\ lindo.jpg) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: pink;
}

.call {
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.44);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}
.call p{
  margin-bottom: 20px;
}

.call a{
  color: white;
  background-color:pink;
  text-decoration: none;
  padding: 10px 20px;

}
.call a:hover{
  color: black;
}


.almohadones div {
  background-color: rgb(1, 1, 1);
  border: solid rgba(255, 255, 255, 0.848);
  width:100%;
  height: 450px;
  text-align: center;
}
.almohadones div p {
color: white;
}
.almohadones div h2 {
  color: white;
  }

.almohadones img{
  width: 300px;
  height: 300px;
  border: solid pink;

}
.cortinas div{
  width: 100%;
  height: 450px;
  border: solid rgba(0, 0, 0, 0.848);
  background-color: pink;
  text-align: center;
}
.cortinas p{
  color: rgb(0, 0, 0);
}
.cortinas h2{
  color: rgb(0, 0, 0);
}
.cortinas img{
  width: 300px;
  height: 300px;
  border: 2px solid pink;
}



.fixed{
position: fixed;
bottom: 80px;
right: 80px;
}


/*-----footer----*/

footer div{ 
  padding: 30px;
  width: 100%;
  background-color: rgb(2, 2, 2);
  text-align: center; 
}

footer div p{ 
  color: pink;
}
/*inicio barra2 */
.barra2{
  background-color: rgba(0, 0, 0, 0.86);
  position: sticky !important;
    top: 0;
    z-index: 1;
    text-transform: capitalize;
}
.container-fluid{
  height: 100px;

}
.navbar-brand {
  color:rgb(255, 255, 255) !important ;
  font-size: 30px;
  font-weight: 60px;
}

.navbar-brand img{
  height: 80px;
}

.nav-link{
  color: rgb(255, 255, 255) !important;
}

/* fin barra2 */

.productosmain{
  height: 500px;
  width: 100%;
  background-color: rgb(250, 250, 250);
border: 2px solid black;}

.jumbotron{
  height: 600px;
  width: 100%;
  background-image:url(img/bull\ lindo.jpg);
  background-size: cover;
  background-position: center;

}
  
@media only screen and (min-width:0) and (max-width:576px){
  .navar-collapse{
    background-color: pink ;
    display: flex;
    justify-content: center !important;
  }
}